body {
  margin: 0;
  font-family: "Lora", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(red, yellow, green);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navi {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card {
  background-color: rgba(112, 112, 220, 0.5) !important;
}

.card p,
h1,
h2,
h3,
h4,
h5 {
  color: rgb(2, 234, 18);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.form-label {
  color: rgb(2, 234, 18);
  font-weight: 700;
  font-size: 24px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.btn {
  font-size: 18px !important;
  font-weight: bold !important;
}

.btn:hover {
  scale: 1.1 !important;
}
